/* Write your code here. */
.play-button {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  background-color: #ffce27;
  border: none;
  border-radius: 15px;
  margin-top: 25px;
}
.win-lose-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.description {
  font-family: roboto;
  color: #ffffff;
}
.win-lose-image {
  height: 300px;
  width: 300px;
}
.content-win-or-lose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-text {
  color: #6a59ff;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 767px) {
  .win-lose-image {
    width: 45vw;
  }
}
